/* reset */
*{
    padding:  0; 
    margin: 0;
    box-sizing: bordex-box;
}

/***************************** header *****************************/ 

header{
    background-color: #FCEFE4;
    width: 100%;
    height: 250px;
}

.container-header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 40px;  
    padding-left: 40px; 
    /* padding-right: 40px; */
}

.navbar{
    width: 70%; 
    display: flex;
    list-style: none;
    padding-right: 80px;
    padding-top: 35px;
    gap: 22px;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.navbar li a{
    text-decoration: none;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

.header-icons{
    display: flex;
    list-style: none;
    justify-content: center;
    padding-right: 40px;
    gap: 10px;
}

.header-icons li a{
    text-decoration: none;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 14px; 
}

.header-icons a span{
    vertical-align: 40%;
}

/***************************** footer *****************************/

.container-newsletter{
    /* width: 100%; */
    height: 120px;
    background-color: #FCEFE4;  
    display: grid;
    grid-template-columns: repeat(2, 665px);
    grid-template-rows:    repeat(2, 50px);
    grid-template-areas: 
    "recibi          form"
    "suscribite      ."; 
    padding-left: 40px;
}

.container-newsletter p{
    grid-area: recibi;                                /* ordeno a cada item la posicion que ocupa en la matriz */
    /* Movimientos self solo para los hijos */
    justify-self: center;
    align-self: center;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.container-newsletter h2{
    grid-area: suscribite;                                /* ordeno a cada item la posicion que ocupa en la matriz */
    /* Movimientos self solo para los hijos */
    justify-self: center;
    align-self: center;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: bolder;
}

.container-newsletter h3{
    grid-area: form;                                /* ordeno a cada item la posicion que ocupa en la matriz */
    /* Movimientos self solo para los hijos */
    justify-self: center;
    align-self: center;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.container-information{
    /* width: 100%; */                         /* ancho de pantalla */
    height: 170px;                             /* largo de pantalla */
    background-color: #FCEFE4;
    display: grid;
    grid-template-columns: repeat(4, 332.6px);
    grid-template-rows: 50px repeat(3, 30px);
    padding-left: 40px;
}


.footer-taller{
    width: 100%;
    /* height: 290px; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;     
    order: 1;                         
}

.footer-taller h2{
    width: 100%; 
    height: 100%; 
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.footer-taller h3{
    width: 100%; 
    height: 35px;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 16px; 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.footer-taller h4{
    width: 100%; 
    height: 30px;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.footer-taller h5{
    width: 100%; 
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.footer-sale{
    width: 100%;
    /* height: 290px; */
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;     
    order: 2;                         
}

.footer-sale h2{
    width: 100%; 
    height: 100%; 
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.footer-sale-contact{
    list-style: none;
}

.footer-sale-contact li a{
    height: 100%;
    text-decoration: none;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 16px; 
}

.footer-sale-contact a span{
    vertical-align: 35%;
}

.footer-information{
    width: 100%;
    /* height: 290px; */
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;     
    order: 3;                         
}

.footer-information h2{
    width: 100%; 
    height: 100%; 
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.footer-information h3{
    width: 100%; 
    height: 35px;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 16px; 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.footer-information h4{
    width: 100%; 
    height: 30px;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.footer-information h5{
    width: 100%; 
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.footer-social-networks{
    width: 100%;
    /* height: 290px; */
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;     
    order: 4;                         
}

.footer-social-networks h2{
    width: 100%; 
    height: 100%; 
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    font-weight: bolder;
}

.footer-redes{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 13px;
}

.footer-redes li{
    list-style: none;
}

.footer-redes li a{
    text-decoration: none;
    color: #7AA7A7;
}

.copyright{
    background-color: #FCEFE4;
}

.copyright p{
    font-size: 16px;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}


/****************************** index.html ******************************/

/* body */

.container-main-title{
    background-color: #FCEFE4;
    /* saco el width para que se adapte al width del header */
    height: 430px;
    display: grid;
    grid-template-columns: 840px 490px;
    grid-template-rows: repeat(4,100px);
    /* grid-template: repeat(6,100px) / repeat(3,450px); */  /* rows / columns */
    grid-template-areas: 
    "title    image"
    "title    image"
    "subtitle image"
    ".        image";
    padding-left: 40px;
}

.main-title{
    grid-area: title;                                /* ordeno a cada item la posicion que ocupa en la matriz */
    /* Movimientos self solo para los hijos */
    justify-self: center;
    align-self: center;
}

.main-title h1{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    text-align: center;
}

.main-subtitle{
    grid-area: subtitle;                                           /* ordeno a cada item la posicion que ocupa en la matriz */
    /* Movimientos self solo para los hijos */
}


.main-subtitle h2{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    justify-self: top;
    align-self: top;
}

.main-image{
    background-color: #FCEFE4;
    /* width: 100%; */                         /* saco el width para que se adapte al width del header */
    height: 410px;
    grid-area: image;                          /* ordeno a cada item la posicion que ocupa en la matriz */
    padding-left: 90px;
}

.container-images{
    /* width: 100%; */                         /* ancho de pantalla */
    height: 316px;                             /* largo de pantalla */
    background-color: #FCEFE4;
    display: grid;
    grid-template-columns: repeat(4, 332.6px);
    grid-template-rows: 270px;
    padding-left: 40px;
}

.presencial{
    width: 100%;
    height: 290px;
    background-image: url("../assets/img/index/body/subtitulo/presencial.jpg");
    background-position: center;  
    background-size: cover; 
    background-repeat: no-repeat;  
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    order: 1;                                 
}

.presencial p{
    width: 38%;
    background-color: #7AA7A7;
    color: #FCEFE4;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bolder;
}

.presencial a{
    width: 20%;
    color: #FCEFE4;
    background-color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    padding-top: 4px;
    justify-self: center;
    align-self: center;
}

.online{
    width: 100%;
    height: 290px;
    background-image: url("../assets/img/index/body/subtitulo/online.jpg");
    background-position: center; 
    background-size: cover;                              
    background-repeat: no-repeat;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    order: 2;                                   
}

.online p{
    width: 24%;
    background-color: #7AA7A7;
    color: #FCEFE4;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bolder;
}

.online a{
    width: 20%;
    color: #FCEFE4;
    display: flex;
    background-color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.shop{
    width: 100%;
    height: 290px;
    background-image: url("../assets/img/index/body/subtitulo/tienda.jpg");
    background-position: center;
    background-size: cover;                                                       
    background-repeat: no-repeat;           
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    order: 3;                                                        
}

.shop p{
    width: 25%;
    background-color: #7AA7A7;
    color: #FCEFE4;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bolder;
}

.shop a{
    width: 20%;
    background-color: #7AA7A7;
    color: #FCEFE4;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.events{
    width: 100%;
    height: 290px;
    background-image: url("../assets/img/index/body/subtitulo/eventos.jpg");
    background-position: center;
    background-size: cover;                                                       
    background-repeat: no-repeat;   
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    order: 4;                                                                
}

.events p{
    width: 28%;
    background-color: #7AA7A7;
    color: #FCEFE4;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bolder;
}

.events a{
    width: 20%;
    background-color: #7AA7A7;
    color: #FCEFE4;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.container-sponsors {
    background-color: #FCEFE4;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;   /* posicion horizontal */
    align-items: center;       /* posicion vertical */
    gap: 90px;
}

.container-promos{
    /* width: 100%; */
    height: 285px;
    background-color: #FCEFE4;  
    display: grid;
    grid-template-columns: 1030px 300px;
    grid-template-rows: 45px 100px repeat(2, 45px);
    grid-template-areas: 
    "hasta          image"
    "veinticinco    image"
    "prodsel        image"
    "vermas         image";
    padding-left: 40px;
}

.text-promo p{
    grid-area: hasta;                                /* ordeno a cada item la posicion que ocupa en la matriz */
    /* Movimientos self solo para los hijos */
    justify-self: center;
    align-self: center;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

.text-promo h2{
    grid-area: veinticinco;
    justify-self: center;
    align-self: center;
    font-style: bold;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
}

.text-promo h3{
    grid-area: prodsel;
    justify-self: center;
    align-self: center;
    font-style: bold;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.text-promo a{
    grid-area: vermas;
    justify-self: center;
    align-self: center;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.image-promo{
    background-color: #FCEFE4;
    height: 250px;
    grid-area: image;
}

/****************************** taller.html ******************************/

/* body */

.taller-title h1{
    height: 85px;
    background-color: #FCEFE4;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    padding-left: 40px;
}

.container-main-images{
    height: 408px;
    background-color: #FCEFE4;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
    padding-left: 40px;
}

.container-dir{
    height: 125px;
    background-color: #FCEFE4;
    padding-left: 150px;
}

.container-dir h2{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
}

.container-dir h3{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.container-maps{
    background-color: #FCEFE4;
    /* saco el width para que se adapte al width del header */
    height: 370px;
    display: grid;
    grid-template-columns: repeat(2, 345px);
    grid-template-rows: repeat(5,50px);
    /* grid-template: repeat(6,100px) / repeat(3,450px); */  /* rows / columns */
    grid-template-areas: 
    "map    location"
    "map    location"
    "map    location"
    "map    location"
    "map    location";
    padding-left: 150px;
}

.map{
    grid-area: map;                                /* ordeno a cada item la posicion que ocupa en la matriz */
}

.location{
    grid-area: location;
    display: grid;
    grid-template-columns: 345px;
    grid-template-rows: repeat(5,35px);
    /* grid-template: repeat(6,100px) / repeat(3,450px); */  /* rows / columns */
    grid-template-areas: 
    "gmaps"
    "h3"
    "h4"
    "h5"
    "whatsapp";
}

.gmaps{
    grid-area: gmaps;
    height: 100%;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.location h3{
    height: 100%;
    grid-area: h3;                                
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.location h4{
    height: 100%;
    grid-area: h4;                                
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.location h5{
    height: 100%;
    grid-area: h5;                                
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.whatsapp-ventas{
    grid-area: whatsapp;
    height: 100%;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}



/****************************** staff.html ******************************/

/* body */

.staff-title h1{
    height: 85px;
    background-color: #FCEFE4;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    padding-left: 40px;
}

.container-integrants{
    display: flex;
    flex-direction: row;                        /* movimiento en sentido vertical */
    flex-wrap: wrap;
    height: 350px;                              
    background-color: #FCEFE4;
    justify-content: space-around;
    align-items: center;                       /* alinear elementos */
    row-gap: 20px;
    /* align-content: flex-end; */              /* solo funciona cuando tengo multilinea */ 
    padding-left: 40px;

}

.integrant{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 330px;
    height: 290px;
    background-color: #FCEFE4;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding-top: 16px;
    border-style: solid;
    border-color: #7AA7A7;
}

.integrant div h2,p{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    text-align: center; 
}

.integrant div a{
    text-decoration: none;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
}

.integrant div a span{
    vertical-align: 40%;
}

/*
.juliana{
    width: 272px;
    height: 272px;
    background-color: lightcoral;
    order: 2;
}

.magdalena{
    width: 272px;
    height: 272px;
    background-color: lightyellow;
    order: 3;
}
*/






/****************************** academia.html ******************************/

.academia-main-titles{
    background-color: #FCEFE4;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
}

.presencial-buttercake{
    width: 100%;
    height: 270px;
    background-color:#FCEFE4;                                      
    background-image: url("../assets/img/academia/body/capacitaciones-presenciales/buttercream-cake.jpg");
    background-position: left;                               
    background-repeat: no-repeat;            
    background-size: contain; 
    /* background-size: cover; */                                                       
}

.presencial-buttercake p{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.presencial-text{
    width: 100%;                         /* ancho de pantalla */
    height: 85px;                       /* largo de pantalla */
    background-color: #FCEFE4;
}

.presencial-text h2{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.presencial-text p{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.presencial-text a{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-decoration: none;
    font-weight: bolder;
}

.presencial-macarons{
    width: 100%;
    height: 270px;
    background-color:#FCEFE4;                                      
    background-image: url("../assets/img/academia/body/capacitaciones-presenciales/macarons.jpg");
    background-position: left;                               
    background-repeat: no-repeat;            
    background-size: contain; 
    /* background-size: cover; */                                                       
}

.presencial-macarons p{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.tortas-presenciales{
    width: 100%;                         /* ancho de pantalla */
    height: 250px;                       /* largo de pantalla */
    background-color: #FCEFE4;
}

.online-cake-designer{
    width: 100%;
    height: 270px;
    background-color:#FCEFE4;                                      
    background-image: url("../assets/img/academia/body/capacitaciones-online/cake-designer.jpg");
    background-position: left;                               
    background-repeat: no-repeat;            
    background-size: contain; 
    /* background-size: cover; */                                                       
}

.online-buttercream-full{
    width: 100%;
    height: 270px;
    background-color:#FCEFE4;                                      
    background-image: url("../assets/img/academia/body/capacitaciones-online/buttercream-full.jpg");
    background-position: left;                               
    background-repeat: no-repeat;            
    background-size: contain; 
    /* background-size: cover; */                                                       
}

/****************************** tienda.html ******************************/

.tienda-heart-mold{
    width: 100%;
    height: 270px;
    background-color:#FCEFE4;                                      
    background-image: url("../assets/img/tienda/body/herramientas/heart-mold.jpg");
    background-position: left;                               
    background-repeat: no-repeat;            
    background-size: contain; 
    /* background-size: cover; */                                                       
}

.tienda-picos{
    width: 100%;
    height: 270px;
    background-color:#FCEFE4;                                      
    background-image: url("../assets/img/tienda/body/herramientas/picos.jpg");
    background-position: left;                               
    background-repeat: no-repeat;            
    background-size: contain; 
    /* background-size: cover; */                                                       
}

.tienda-cake-designer{
    width: 100%;
    height: 270px;
    background-color:#FCEFE4;                                      
    background-image: url("../assets/img/tienda/body/capacitaciones-online-presencial/cake-designer.jpg");
    background-position: left;                               
    background-repeat: no-repeat;            
    background-size: contain; 
    /* background-size: cover; */                                                       
}







