/* reset */
*{
    padding:  0; 
    margin: 0;
    box-sizing: bordex-box;
}

/***************************** header *****************************/ 

header{
    background-color: #FCEFE4;
    width: 100%;
    height: 250px;
}

.container-header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px;  
}

.navbar{
    width: 70%;
    display: flex;
    list-style: none;
    padding-right: 160px;
    padding-top: 35px;
    gap: 22px;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.navbar li a{
    text-decoration: none;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

.header-icons{
    display: flex;
    list-style: none;
    justify-content: center;
    padding-right: 40px;
    gap: 10px;
}

.header-icons li a{
    text-decoration: none;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 14px; 
}

.header-icons a span{
    vertical-align: 40%;
}

/***************************** footer *****************************/

.newsletter{
    width: 100%;                    /* ancho de pantalla */
    height: 120px;                  /* largo de pantalla */
    background-color:#FCEFE4;
}

.newsletter-text p,h2{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
}

.footer-taller{
    width: 100%;
    height: 120px;
    background-color:#FCEFE4;
}

.footer-taller h2,p{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
}

.footer-sale{
    width: 100%;
    height: 140px;
    background-color:#FCEFE4;
}

.footer-sale h2{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
}

.footer-sale-contact{
    list-style: none;
}

.footer-sale-contact li a{
    text-decoration: none;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 16px; 
}

.footer-sale-contact a span{
    vertical-align: 70%;
}

.footer-information{
    width: 100%;
    height: 120px;
    background-color:#FCEFE4;
}

.footer-information h2,p{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
}

.footer-social-networks{
    width: 100%;
    height: 190px;
    background-color:#FCEFE4;
}

.footer-social-networks h2{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
}

.footer-redes{
    list-style: none;
}

.footer-redes li a{
    text-decoration: none;
    color: #7AA7A7;
}


.copyright{
    width: 100%;                         /* ancho de pantalla */
    height: 42px;                        /* largo de pantalla */
    background-color: #FCEFE4;
}

.copyright p{
    font-size: 16px;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}


/****************************** index.html ******************************/

/* body */

/* .main-title-subtitle{
    width: 100%;  */                       /* ancho de pantalla */
    /* height: 700px;        */               /* largo de pantalla */
    /* background-color: #FCEFE4;
}

.main-title-subtitle h1{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-align: left;
}

.main-title-subtitle p{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}
*/

.main-title-container{
    background-color: #FCEFE4;
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2,840px) 10px;
    grid-template-rows: repeat(6,100px);
    /* grid-template: repeat(6,100px) / repeat(3,450px); */  /* rows / columns */
    grid-template-areas: 
    "title    image image"
    "title    image image"
    "subtitle image image"
    "subtitle image image"
    "subtitle image image"
    "subtitle image image";
}

.main-title{
    grid-area: title;                                           /* ordeno a cada item la posicion que ocupa en la matriz */
    background-color: lightblue;
    /* Movimientos self solo para los hijos */
    justify-self: center;
    align-self: center;
}

.main-title h1{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    text-align: left;
}

.main-subtitle{
    grid-area: subtitle;                                           /* ordeno a cada item la posicion que ocupa en la matriz */
    background-color: lightblue;
    /* Movimientos self solo para los hijos */
    justify-self: center;
    align-self: center;
}


.main-subtitle h2{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: left;
}

.main-image{
    width: 626px;
    height: 600px;
    grid-area: image;                                           /* ordeno a cada item la posicion que ocupa en la matriz */
}


.section-images{
    width: 100%;                         /* ancho de pantalla */
    height: 1100px;                      /* largo de pantalla */
    background-color: #FCEFE4;
}

.presencial{
    width: 100%;
    height: 270px;
    background-color:#FCEFE4;                                      
    background-image: url("../assets/img/index/body/subtitulo/presencial.jpg");
    background-position: left;                               
    background-repeat: no-repeat;                                   
}

.presencial p{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bolder;
}

.presencial a{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-decoration: none;
}

.online{
    width: 100%;
    height: 270px;
    background-color:#FCEFE4;                                      
    background-image: url("../assets/img/index/body/subtitulo/online.jpg");
    background-position: left center;                               
    background-repeat: no-repeat;                                   
}

.online p{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bolder;
}

.online a{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-decoration: none;
}

.shop{
    width: 28.2%;
    height: 270px;
    background-color:#FCEFE4;                                      
    background-image: url("../assets/img/index/body/subtitulo/tienda.jpg");
    background-position: center;
    background-size: contain; 
    background-size: cover;                                                       
    background-repeat: no-repeat;                                   
}

.shop p{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bolder;
}

.shop a{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-decoration: none;
}

.events{
    width: 28.2%;
    height: 270px;
    background-color:#FCEFE4;                                      
    background-image: url("../assets/img/index/body/subtitulo/eventos.jpg");
    background-position: center right;
    background-size: contain; 
    background-size: cover;                                                       
    background-repeat: no-repeat;                                   
}

.events p{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bolder;
}

.events a{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-decoration: none;
}

.section-sponsors{
    width: 100%;                         /* ancho de pantalla */
    height: 425px;                       /* largo de pantalla */
    background-color: #FCEFE4;
}

.sponsors{
    list-style: none;
}

.section-promos{
    width: 100%;
    height: 470px;
    background-color:#FCEFE4;                                      
}

.section-promos div p{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.section-promos div h2{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-style: bold;
}

.section-promos div a{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-decoration: none;
}

/****************************** taller.html ******************************/

/* body */

.section-taller{
    background-color: #FCEFE4;
    width: 100%;
    height: 1100px;
}

.section-taller h1{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;

}

.section-taller div h2{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
}

.section-taller div p{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.section-taller div a{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

/****************************** staff.html ******************************/

/* body */

.integrante{
    width: 100%;                         /* ancho de pantalla */
    height: 280px;                       /* largo de pantalla */
    background-color: #FCEFE4;
}

.integrante div h2{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;

}

.integrante div p{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    
}

.integrante div a{
    text-decoration: none;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.integrante div a span{
    vertical-align: 66%;
}

/****************************** academia.html ******************************/

.academia-main-titles{
    background-color: #FCEFE4;
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
}

.presencial-buttercake{
    width: 100%;
    height: 270px;
    background-color:#FCEFE4;                                      
    background-image: url("../assets/img/academia/body/capacitaciones-presenciales/buttercream-cake.jpg");
    background-position: left;                               
    background-repeat: no-repeat;            
    background-size: contain; 
    /* background-size: cover; */                                                       
}

.presencial-buttercake p{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.presencial-text{
    width: 100%;                         /* ancho de pantalla */
    height: 85px;                       /* largo de pantalla */
    background-color: #FCEFE4;
}

.presencial-text h2{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.presencial-text p{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.presencial-text a{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-decoration: none;
    font-weight: bolder;
}

.presencial-macarons{
    width: 100%;
    height: 270px;
    background-color:#FCEFE4;                                      
    background-image: url("../assets/img/academia/body/capacitaciones-presenciales/macarons.jpg");
    background-position: left;                               
    background-repeat: no-repeat;            
    background-size: contain; 
    /* background-size: cover; */                                                       
}

.presencial-macarons p{
    color: #7AA7A7;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.tortas-presenciales{
    width: 100%;                         /* ancho de pantalla */
    height: 250px;                       /* largo de pantalla */
    background-color: #FCEFE4;
}

.online-cake-designer{
    width: 100%;
    height: 270px;
    background-color:#FCEFE4;                                      
    background-image: url("../assets/img/academia/body/capacitaciones-online/cake-designer.jpg");
    background-position: left;                               
    background-repeat: no-repeat;            
    background-size: contain; 
    /* background-size: cover; */                                                       
}

.online-buttercream-full{
    width: 100%;
    height: 270px;
    background-color:#FCEFE4;                                      
    background-image: url("../assets/img/academia/body/capacitaciones-online/buttercream-full.jpg");
    background-position: left;                               
    background-repeat: no-repeat;            
    background-size: contain; 
    /* background-size: cover; */                                                       
}

/****************************** tienda.html ******************************/

.tienda-heart-mold{
    width: 100%;
    height: 270px;
    background-color:#FCEFE4;                                      
    background-image: url("../assets/img/tienda/body/herramientas/heart-mold.jpg");
    background-position: left;                               
    background-repeat: no-repeat;            
    background-size: contain; 
    /* background-size: cover; */                                                       
}

.tienda-picos{
    width: 100%;
    height: 270px;
    background-color:#FCEFE4;                                      
    background-image: url("../assets/img/tienda/body/herramientas/picos.jpg");
    background-position: left;                               
    background-repeat: no-repeat;            
    background-size: contain; 
    /* background-size: cover; */                                                       
}

.tienda-cake-designer{
    width: 100%;
    height: 270px;
    background-color:#FCEFE4;                                      
    background-image: url("../assets/img/tienda/body/capacitaciones-online-presencial/cake-designer.jpg");
    background-position: left;                               
    background-repeat: no-repeat;            
    background-size: contain; 
    /* background-size: cover; */                                                       
}







